body {
  background-image: url("jungle.jpg");
  background-color: lightgrey;
  color: blue;
}

h1 {
  background-color: black;
  color: white;
}

h2 {
  background-color: black;
  color: white;
}

p {
  background-color: black;
  color: white;
}
